/* panel menu */
.body{
    font-family: "raleway";
}
.nav-side{
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    background-color: #3b3a3b;
    box-sizing: border-box;
    padding: 0px;
    color: #fff;
    margin-right: -250px;
    transition: margin 0.25s ease-out;
}
.nav-side.nav-open{
    margin-right: 0;
}

.nav-side>ul {
    width: 100%;
    -webkit-padding-start: 0px;
}

.nav-open-li {
    padding: 15px;
    padding-left: 30px;
    -webkit-transition: background-color 0.18s;
    z-index: 5;
}
li{
    list-style: none;
}

.nav-open-li>a{
    text-decoration: none;
    color: white;
}

.nav-open-li:hover{
    background-color: #262626;
}

.static-nav-open{
    text-align: center;
    padding: 15px;
}

.static-nav-current{
    padding: 15px;
    padding-left: 30px;
    color: coral;
    background-color: #3b3a3b;
}

.nav-toggle{
    position: absolute;
    left: -50px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    line-height: 50px;

}
#no_{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
.nav-side{
    position: fixed;
}