/* Row #1 */
img.c_s{
    width: auto;
    height: 7.7vw;
    padding: 0px 3.05vw 0px 0px;
    vertical-align: middle;
}
div.a-1{
    width: 15vw;
    height: 7.7vw;
    background-color: #B8C26B;
    margin: 0px 0.9vw 0px 0px;
    padding: 0px;

}
div#a-2{
    width: 9vw;
    height: 7.7vw;
    background-color: #2C2F1D;
    padding: 0px;
}

/* Row #2 */
img.g_h{
    width: auto;
    height: 9.5vw;
    padding: 0px 1.3vw 0px 0px;
    vertical-align: middle;
}
div.b-1{
    width: 9.4vw;
    height: 7.85vw;
    background-color: #5C6C2D;
    padding: 0px;
    margin: 1.64vw 0.55vw 0px 0px;
}
div.b-2{
    width: 8.36vw;
    height: 7.85vw;
    background-color: #B8C26B;
    padding: 0px;
    margin: 1.64vw 3vw 0px 0px;
}
div.b-3{
    width: 14.1vw;
    height: 7.85vw;
    background-color: #2C2F1D;
    padding: 0px;
    margin: 1.64vw 0px 0px 0px;
}

/* Row #3 */
div.third_row{
    margin-top: 1.5vw;
}
img.herbs{
    width: auto;
    height: 5.345vw;
    padding: 0px 1.3vw 0px 0px;
    vertical-align: middle;
}
div.c-1{
    width: 9.9vw;
    height: 5.345vw;
    padding: 0px;
    background-color: #B8C26B;
    margin: 0px 0.61vw 0px 0px;
}
div.c-2{
    width: 7.86vw;
    height: 5.345vw;
    padding: 0px;
    background-color: #2C2F1D;
    margin: 0px 3vw 0px 0px;
}
div.c-3{
    width: 2.1vw;
    height: 4.545vw;
    margin: 0.4vw 0.61vw 0.4vw 0px;
    background-color: #5C6C2D;
}
div.c-4{
    width: 5.57vw;
    height: 4.545vw;
    margin: 0.4vw 0.61vw 0.4vw 0px;
    background-color: #2C2F1D;
}
div.c-5{
    width: 14.3vw;
    height: 4.545vw;
    margin: 0.4vw 0.61vw 0.4vw 0px;
    background-color: #B8C26B;
}
div.c-6{
    width: 5.57vw;
    height: 4.545vw;
    margin: 0.4vw 0px 0.4vw 0px;
    background-color: #5C6C2D;
}

/* Row #4 */
div.fourth_row{
    margin-top: 1.5vw;
}
div.d-1{
    width: 14.2vw;
    height: 5.18vw;
    background-color: #5C6C2D;
    padding: 0px;
    margin: 0px 2.14vw 3.2vw 6.25vw;
}
img.coup{
    width: auto;
    height: 8.38vw;
    vertical-align: middle;
}

/* Registering Button */
div.button{
    border-top-left-radius: 2vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 9.3vw;
    height: 3.75vw;
    background-color: #F2A85A;
    transition: background-color 0.25s ease;
}
